<!DOCTYPE html>
<html lang="en">
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
.center-div{margin: 0 auto; width: 6000 px;}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-blue w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/" class="w3-bar-item w3-button w3-padding-large w3-purple w3-hover-white">Home</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-blue w3-hover-white">Popular Groups</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-blue w3-hover-white">Fill Out A Form</a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-blue w3-hover-white">My Profile</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 4</a>
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-purple w3-center" style="padding:32px 4px">
  <h1 class="w3-margin w3-jumbo w3-purple" style="padding:32px 0px" >Welcome to GroupMe+</h1>
</header>

<div class>
	<form action="/" class ="w3-container w3-center">
		<h1>Chatroom Suggestion Personalisation Form</h1>
		<p class="w3-center">Tell us a little about yourself!</p>
		<table class = "center-div">
			<tr>
				<th class="first-col"></th>
				<th>4 (Most Interested)</th>
				<th>3</th>
				<th>2</th>
				<th>1 (Uninterested)</th>
			</tr>
			<tr>
				<td class="first-col">How interested in sports are you?</td>
				<td><input type="radio" value="none" name="front" /></td>
				<td><input type="radio" value="none" name="front" /></td>
				<td><input type="radio" value="none" name="front" /></td>
				<td><input type="radio" value="none" name="front" /></td>
			</tr>
			<tr>
				<td class="first-col">How interested in fashion are you?</td>
				<td><input type="radio" value="none" name="name" /></td>
				<td><input type="radio" value="none" name="name" /></td>
				<td><input type="radio" value="none" name="name" /></td>
				<td><input type="radio" value="none" name="name" /></td>
			</tr>
			<tr>
				<td class="first-col">How interested in food are you?</td>
				<td><input type="radio" value="none" name="find" /></td>
				<td><input type="radio" value="none" name="find" /></td>
				<td><input type="radio" value="none" name="find" /></td>
				<td><input type="radio" value="none" name="find" /></td>
			</tr>
			<tr>
				<td class="first-col">How interested in music are you?</td>
				<td><input type="radio" value="none" name="keeping" /></td>
				<td><input type="radio" value="none" name="keeping" /></td>
				<td><input type="radio" value="none" name="keeping" /></td>
				<td><input type="radio" value="none" name="keeping" /></td>
			</tr>￼
			<tr>
				<td class="first-col">How interested in videogames are you?</td>
				<td><input type="radio" value="none" name="ambiance" /></td>
				<td><input type="radio" value="none" name="ambiance" /></td>
				<td><input type="radio" value="none" name="ambiance" /></td>
				<td><input type="radio" value="none" name="ambiance" /></td>
			</tr>
		</table>
		<div class="btn-block">
			<button type="submit" href="/">Submit</button>
		</div>
	</form>
</div>
</body>
</html>
